.dashboard__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dashboard__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100px;
  padding: 0px 50px;
  box-sizing: border-box;
  /* By doing this, I can tell the header to take width and padding into consideration */
}

.header__item+.header__item {
  margin-left: 50px;
}